/* =========================== */
/* ========== MEDIA ========== */
/* ========= QUERIES ========= */
/* =========================== */

/* ====== 1400-1200px ====== */
@media screen and (max-width: 1400px) {

    /* ====== BASE ====== */
    html {
        font-size: calc(11px + 3 * ((100vw - 320px) / (1440 - 320)));
    }

    .container {
        width: auto;
        margin: 0 5.07vw;
    }

    h1 {
        font-size: calc(38px + 20 * ((100vw - 320px) / (1440 - 320)));
    }
    
    h2 {
        font-size: calc(30px + 12 * ((100vw - 320px) / (1440 - 320)));
    }
    
    h3 {
        font-size: calc(23px + 9 * ((100vw - 320px) / (1440 - 320)));
    }
    
    h4 {
        font-size: calc(21px + 7 * ((100vw - 320px) / (1440 - 320)));
    }
    
    h5 {
        font-size: calc(16px + 6 * ((100vw - 320px) / (1440 - 320)));
    }
    
    h6 {
        font-size: calc(11px + 2 * ((100vw - 320px) / (1440 - 320)));
    }

    header .swiper-slide .info p {
        font-size: 1.143rem;
    }

    section.categories .tabs .tab .tab__desc {
        font-size: 1.07rem;
    }

    section.ideas{
        .info .text p {
            font-size: 1.715rem;
        }
        
        .ideas__all {
            font-size: 1.715rem;
        }
    } 
    

    section.mail .mail__desc {
        text-align: center;
        font-size: 1.143rem;
        margin-top: 9px;
    }

    footer{
        nav {
            .list li {
                font-size: 1.214rem;
            }
        }

        .about__desc {
            font-size: 1.143rem;
        }
        
        .credentials {
            font-size: 1.285rem;
        }
    } 

}


/* ====== 1200-992px ====== */
@media screen and (max-width: 1200px) {

    /* ====== BASE ====== */

    header {
        .swiper-slide {
            .info {
                max-width: 50%;
                h1 {
                    width: auto;
                }
            }
            .image {
                max-width: 50%;
            }
        }
    } 

    section.best .item {
        max-width: 32%;
        button {
            padding: 14px 50px;
        }
    
        img {
            width: auto;
            height: 215px;
            max-width: 100%;
        }
    }
}


/* ====== 768-992px ====== */
@media screen and (max-width: 992px) {

    /* ====== BASE ====== */
    :root {
        --swiper-pagination-bullet-horizontal-gap: 12px;
    }

    h2 {
        margin-bottom: 6px;
    }

    .expl-btn {
        padding: 12px 48px;
    }
    
    header {
        .links li:not(:last-child) {
            margin-right: 13px;
        }

        .buttons {
            margin: 0;
            button:not(:last-child) {
                margin-right: 13px;
            }
        }
        .swiper-slide{
            padding: 0 30px;
            .info {
                padding: 25px 0;
            }
        }
        .swiper-pagination-bullet {
            width: 15%;
        }
    }

    section.categories {
        .tab {
            margin: 0px;
        }
        .tab_big {
            padding-bottom: 25px;
        }
        .hor {
            .tab {
                padding: 0 25px;
            }
        }
        .vert {
            .tab {
                .tab__head, .tab__desc {
                    padding: 0 25px;
                }
                &:nth-child(even) .tab__desc {
                    margin-top: 15px;
                }
            }
        }
    }

    section.popular {
        .items {
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .item {
            width: 40%;
            max-width: 300px;
            img{
                height: 215px;
            }
        }
    }

    section.best .item {
        h4 {
            margin-bottom: 15px;
        }
    
        button {
            padding: 10px 25px;
            margin-top: auto;
        }
    
        img {
            height: 145px;
        }
    }
    
    section.search .search__bar {
        padding: 12px 14px 13px;
        button {
            width: 26px;
            height: 25px;
        }
    
        input {
            margin-left: 15px;
        }
    }

    section.mail .bar {
        width: 370px;
        height: 42px;
        button {
            padding: 0 20px;
        }
    }

    footer {
        nav {
            flex-wrap: wrap;
            padding: 30px 0 60px;
        }

        .about {
            width: 100%;
            top: 0;
        }

        .about__desc {
            margin: 0.5em 0 1.5em;
        }
    
        .credentials {
            padding: 26px 0 5px;
        }
    } 
}


/* ====== 576-768px ====== */
@media screen and (max-width: 768px) {
    
    /* ====== BASE ====== */
    header {
        nav {
            flex-wrap: wrap;
            .links {
                transition: margin-top 1.2s ease;
                margin-top: -100px;
                flex-direction: column;
                order: 1;
                width: 100%;
                li {
                    transition: left 0.4s ease;
                    left: -200px;
                }
                li:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
            .links.active {
                margin-top: 25px;
                display: flex;
                li {
                    left: 0px;
                }
            }
        }
        
        .swiper-slide {
            .info {
                max-width: initial;
            }
        
            .image {
                display: none;
            }
        }
        .swiper-button-prev, .swiper-button-next {
            display: none;
        }
    }

    section.categories {
        .tabs {
            flex-direction: column;
            .tab:hover {
                top: 0;
            }
        }

        .hor, .vert{
            width: auto;
            margin: 0;
        }
        .vert{
            margin-top: 16px;
        }
        .hor .tab:not(:first-child) {
            margin-top: 16px;
        }

        .tab__img_tablets {
            background-position: top;
        }
    }

    section.popular .popular__desc {
        margin-bottom: 20px;
    }

    section.best {
        .best__desc {
            margin-bottom: 20px;
        }
        .item button {
            margin-bottom: 10px;
        }
    }
}


/* ====== 320-576px ====== */
@media screen and (max-width: 576px) {
    
    /* ====== BASE ====== */
    section.categories {
        .categories__desc {
            margin-bottom: 25px;
        }

        .vert {
            flex-direction: column;
            .tab {
                width: 100%;
                &:not(:first-child) {
                    margin-top: 16px;
                    margin-left: 0px;
                }
                &:nth-child(odd) .tab__head {
                    margin-bottom: 15px;
                }
            }
        }
        .tab__img_laptops {
            height: 230px;
        }
    
        .tab__img_watches {
            height: 120px;
        }
    
        .tab__img_phones {
            height: 250px;
            margin-bottom: 24px;
            left: initial;
        }
    
        .tab__img_tablets {
            height: 280px;
            margin-top: 24px;
        }
    }

    

    section.popular .item {
        width: 85%;
        max-width: initial;
    }

    section.best {
        .items {
            flex-wrap: wrap;
            justify-content: center;
        }
        .item {
            width: 85%;
            max-width: initial;
            &:not(:first-child) {
                margin-top: 15px;
            }
        }
    }

    section.ideas .info {
        flex-direction: column;
        margin: 16px auto;
        img {
            width: 100%;
        }
        .text p {
            font-size: 1.4rem;
        }
    }

    section.mail {
        .banner {
            padding: 28px 20px;
        }
        .bar {
            width: auto;
            input {
                padding: 0 13px;
            }
        }
    }
    

    footer {
        nav {
            gap: 20px;
        }
        .list {
            width: 45%;
            h5 {
                margin-bottom: 12px;
            }
            li:not(:first-child) {
                margin-top: 8px;
            }
        }
        .credit {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .credit__link:after {
            width: 13px;
            height: 13px;
        }
    } 
}