/* =========================== */
/* ========== MEDIA ========== */
/* ========= QUERIES ========= */
/* =========================== */
/* ====== 1400-1200px ====== */
@media screen and (max-width: 1400px) {
  /* ====== BASE ====== */
  html {
    font-size: calc(11px + 3 * (100vw - 320px) / 1120);
  }
  .container {
    width: auto;
    margin: 0 5.07vw;
  }
  h1 {
    font-size: calc(38px + 20 * (100vw - 320px) / 1120);
  }
  h2 {
    font-size: calc(30px + 12 * (100vw - 320px) / 1120);
  }
  h3 {
    font-size: calc(23px + 9 * (100vw - 320px) / 1120);
  }
  h4 {
    font-size: calc(21px + 7 * (100vw - 320px) / 1120);
  }
  h5 {
    font-size: calc(16px + 6 * (100vw - 320px) / 1120);
  }
  h6 {
    font-size: calc(11px + 2 * (100vw - 320px) / 1120);
  }
  header.header .swiper-slide .slide__text {
    font-size: 1.143rem;
  }
  header.header .swiper-slide .slide__desc {
    font-size: 1.428rem;
  }
  section.categories .categories__desc {
    font-size: 1.07rem;
  }
  section.categories .tabs .tab .tab__desc {
    font-size: 1.07rem;
  }
  section.ideas .info__sentence {
    font-size: 1.715rem;
  }
  section.ideas .ideas__all {
    font-size: 1.715rem;
  }
  section.mail .mail__desc {
    text-align: center;
    font-size: 1.143rem;
    margin-top: 9px;
  }
  footer.footer .list__item {
    font-size: 1.214rem;
  }
  footer.footer .about__desc {
    font-size: 1.143rem;
  }
  footer.footer .credentials {
    font-size: 1.285rem;
  }
}
/* ====== 1200-992px ====== */
@media screen and (max-width: 1200px) {
  /* ====== BASE ====== */
  header.header .slider__info {
    max-width: 50%;
  }
  header.header .slide__header {
    width: auto;
  }
  header.header .slide__img {
    max-width: 50%;
  }
  section.best .item {
    max-width: 32%;
  }
  section.best .item__btn {
    padding: 14px 50px;
  }
  section.best .item__img {
    width: auto;
    height: 215px;
    max-width: 100%;
  }
}
/* ====== 768-992px ====== */
@media screen and (max-width: 992px) {
  /* ====== BASE ====== */
  :root {
    --swiper-pagination-bullet-horizontal-gap: 12px;
  }
  h2 {
    margin-bottom: 6px;
  }
  .expl-btn {
    padding: 12px 48px;
  }
  header.header .nav__item:not(:last-child) {
    margin-right: 13px;
  }
  header.header .nav__btns {
    margin: 0;
  }
  header.header .nav__btn:not(:last-child) {
    margin-right: 13px;
  }
  header.header .swiper-slide {
    padding: 0 30px;
  }
  header.header .slide__info {
    padding: 25px 0;
  }
  header.header .swiper-pagination-bullet {
    width: 15%;
  }
  section.categories .tab {
    margin: 0px;
  }
  section.categories .tab_big {
    padding-bottom: 25px;
  }
  section.categories .hor .tab {
    padding: 0 25px;
  }
  section.categories .vert .tab .tab__head, section.categories .vert .tab .tab__desc {
    padding: 0 25px;
  }
  section.categories .vert .tab:nth-child(even) .tab__desc {
    margin-top: 15px;
  }
  section.popular .items {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  section.popular .item {
    width: 40%;
    max-width: 300px;
  }
  section.popular .item__img {
    height: 215px;
  }
  section.best .item__desc {
    margin-bottom: 15px;
  }
  section.best .item__btn {
    padding: 10px 25px;
    margin-top: auto;
  }
  section.best .item__img {
    height: 145px;
  }
  section.search .search__bar {
    padding: 12px 14px 13px;
  }
  section.search .search__btn {
    width: 26px;
    height: 25px;
  }
  section.search .search__input {
    margin-left: 15px;
  }
  section.mail .mail__bar {
    width: 370px;
    height: 42px;
  }
  section.mail .mail__input {
    padding: 0 20px;
  }
  footer.footer nav {
    flex-wrap: wrap;
    padding: 30px 0 60px;
  }
  footer.footer .about {
    width: 100%;
    top: 0;
  }
  footer.footer .about__desc {
    margin: 0.5em 0 1.5em;
  }
  footer.footer .credentials {
    padding: 26px 0 5px;
  }
}
/* ====== 576-768px ====== */
@media screen and (max-width: 768px) {
  /* ====== BASE ====== */
  header.header nav {
    flex-wrap: wrap;
  }
  header.header .nav__links {
    transition: margin-top 1.2s ease;
    margin-top: -100px;
    flex-direction: column;
    order: 1;
    width: 100%;
  }
  header.header .nav__links .nav__item {
    transition: left 0.4s ease;
    left: -200px;
  }
  header.header .nav__links .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  header.header .nav__links.active {
    margin-top: 25px;
    display: flex;
  }
  header.header .nav__links.active .nav__item {
    left: 0px;
  }
  header.header .nav__btn_burger {
    display: block;
  }
  header.header .slide__info {
    max-width: initial;
  }
  header.header .slide__img {
    display: none;
  }
  header.header .swiper-button-prev, header.header .swiper-button-next {
    display: none;
  }
  section.categories .tabs {
    flex-direction: column;
  }
  section.categories .tabs .tab:hover {
    top: 0;
  }
  section.categories .hor, section.categories .vert {
    width: auto;
    margin: 0;
  }
  section.categories .vert {
    margin-top: 16px;
  }
  section.categories .hor .tab:not(:first-child) {
    margin-top: 16px;
  }
  section.categories .tab__img_tablets {
    background-position: top;
  }
  section.popular .popular__desc {
    margin-bottom: 20px;
  }
  section.best .best__desc {
    margin-bottom: 20px;
  }
  section.best .item__btn {
    margin-bottom: 10px;
  }
}
/* ====== 320-576px ====== */
@media screen and (max-width: 576px) {
  /* ====== BASE ====== */
  section.categories .tabs {
    margin-top: 25px;
  }
  section.categories .vert {
    flex-direction: column;
  }
  section.categories .vert .tab {
    width: 100%;
  }
  section.categories .vert .tab:not(:first-child) {
    margin-top: 16px;
    margin-left: 0px;
  }
  section.categories .vert .tab:nth-child(odd) .tab__head {
    margin-bottom: 15px;
  }
  section.categories .tab__img_laptops {
    height: 230px;
  }
  section.categories .tab__img_watches {
    height: 120px;
  }
  section.categories .tab__img_phones {
    height: 250px;
    margin-bottom: 24px;
    left: initial;
  }
  section.categories .tab__img_tablets {
    height: 280px;
    margin-top: 24px;
  }
  section.popular .item {
    width: 85%;
    max-width: initial;
  }
  section.best .items {
    flex-wrap: wrap;
    justify-content: center;
  }
  section.best .item {
    width: 85%;
    max-width: initial;
  }
  section.best .item:not(:first-child) {
    margin-top: 15px;
  }
  section.ideas .info {
    flex-direction: column;
    margin: 16px auto;
  }
  section.ideas .info__img {
    width: 100%;
  }
  section.ideas .info__sentence {
    font-size: 1.4rem;
  }
  section.mail .banner {
    padding: 28px 20px;
  }
  section.mail .mail__bar {
    width: auto;
  }
  section.mail .mail__input {
    padding: 0 13px;
  }
  footer.footer nav {
    gap: 20px;
  }
  footer.footer .list {
    width: 45%;
  }
  footer.footer .list__header {
    margin-bottom: 12px;
  }
  footer.footer .list__item:not(:first-child) {
    margin-top: 8px;
  }
  footer.footer .credit {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  footer.footer .credit__link:after {
    width: 13px;
    height: 13px;
  }
}/*# sourceMappingURL=media.css.map */