/* =========================== */
/* ========== BASE =========== */
/* =========================== */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

// Variables
// Fonts
$mainFont: 'Inter', sans-serif;
$secondFont: 'Readex Pro', sans-serif;
// Colors
$mainWhite: #fff;
$mainBlack: #000;
$accent: #DCE5E2;
$silver: #C5C5C5;
$aliceBlue: #F8F9FA;


// Swiper Settings 
:root {
    --swiper-navigation-size: 26px;
    --swiper-navigation-color: $mainBlack;
    --swiper-pagination-color: $mainBlack;
    --swiper-pagination-bullet-inactive-color: $mainBlack;
    --swiper-pagination-bullet-horizontal-gap: 34px;
    --swiper-pagination-bullet-size: 2px;
    --swiper-pagination-bullet-inactive-opacity: 0.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
}

body {
    color: $mainBlack;
    background-color: $mainWhite;
}

.container {
    margin: 0 auto;
    width: 1294px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondFont;
	font-weight: 400;
}

h1 {
	font-size: 58px;
}

h2 {
	font-size: 42px;
    margin-bottom: 9px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 28px;
}

h5 {
	font-size: 22px;
}

h6 {
    font-size: 13px;
}

a, a:hover, a:active {
	text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a, button, input {
	transition: all 0.4s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active
{
	outline: none;
}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.expl-btn {
    padding: 14px 53px;
    font-size: 1.285rem;
    border-radius: 200px;
    border: 1px solid $mainBlack;
    background-color: transparent;
    color: $mainBlack;
    &:hover {
        background-color: $mainBlack;
        color: $mainWhite;
    }
}

.link-arrow {
    display: flex;
}

.link-arrow::after {
    display: block;
    content: " ";
    width: 21px;
    height: 18px;
    margin-left: 3px;
    background-image: url(../img/link-thin.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* HEADER Section */
header.header {
    .nav{
        padding: 27px 0 31px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__links {
        display: flex;
    }

    .nav__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-right: 33px;
        }
        &::after {
            content: " ";
            background-image: url(../img/arrow-hover.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 12px;
            height: 8px;
            margin-left: 5px;
            transition: all 0.4s ease;
            opacity: 0;
        }
        &:hover::after{
            opacity: 1;
        }
    }
    .nav__link {
        text-transform: uppercase;
    }

    .nav__btns {
        margin-right: 28px;
        display: flex;
        align-items: center;
    }

    .nav__btn {
        width: 24px;
        border: none;
        background-color: transparent;
        &:not(:last-child) {
            margin-right: 17px;
        }
        &:hover:not(.nav__btn_burger) {
            transform: scale(1.2);
        }
    }

    .nav__btn_burger {
        display: none;
        height: 18px;
        span {
            width: 100%;
            height: 2px;
            background-color: $mainBlack;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1px;
            transition: all 0.4s ease;
            border-radius: 2px;
        }
        &::before {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $mainBlack;
            position: absolute;
            left: 0;
            top: 0;
            transition: all 0.4s ease;
            border-radius: 2px;
        }
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $mainBlack;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all 0.4s ease;
            border-radius: 2px;
        }
    }

    .nav__btn_burger.active {
        height: 18px;
        span {
            transform: scale(0);
        }
        &::before {
            top: 8px;
            transform: rotate(45deg);
        }
        &::after {
            bottom: 8px;
            transform: rotate(-45deg);
        }
    }

    .swiper {
        width: 100%;
        height: 550px;
        border-radius: 32px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 32px;
    }

    .swiper-pagination-bullet {
        width: 194px;
        height: 2px;
        border-radius: 0;
    }

    .swiper-slide {
        background-color: $accent;
        padding: 0 56px;
        display: flex;
    }

    .slide__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 45px 0;
    }
    
    .slide__header {
        width: 588px;
    }

    .slide__desc {
        font-size: 20px;
    }

    .slide__text {
        font-size: 16px;
        max-width: 565px;
        margin: 24px 0 25px;
    }
    
    .slide__img {
        overflow: auto;
        object-fit: cover;
    }

    .slide_about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .links {
            display: flex;
            gap: 12px;
            margin-bottom: 30px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .links__link {
            font-size: 17px;
        }
        .slide__ico {
            font-size: 48px;
            margin-bottom: 15px;
        }
    }
}

/* CATEGORIES Section */
section.categories {
    padding-top: 52px;

    .categories__header {
        text-align: center;
    }
    
    .categories__desc {
        font-size: 15px;
        text-align: center;
        max-width: 680px;
        margin: 0 auto;
    }
    
    .tabs {
        margin-top: 55px;
        display: flex;
    }

    .tab_big {
        padding-bottom: 38px;
    }
    
    .tab_flex {
        display: flex;
        align-items: center;
    }

    .hor {
        width: 50%;
        text-align: right;
        .tab {
            padding-left: 42px;
            padding-right: 42px;
            transition: top 0.4s ease;
            &:not(:first-child) {
                margin-top: 50px;
            }
        }
    }

    .vert {
        width: 50%;
        display: flex;
        text-align: center;
        margin-left: 16px;
        .tab {
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: top 0.6s ease;
            width: 50%;
        }
        .tab__head, .tab__desc {
            padding: 0 32px;
        }
        .tab:not(:first-child) {
            margin-left: 16px;
        }
    }

    .tab {
        box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        top: 0;
        &:hover .tab__img {
            transform: scale(1.2);
        }
        &:nth-child(odd):hover {
            top: -22px;
        }
        
        &:nth-child(even):hover {
            top: 22px;
        }
        
    }

    .tab__img {
        transition: transform 1s ease;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .tab__img_laptops {
        background-image: url(../img/laptops.png);
        height: 377px;
        max-width: 500px;
    }
    
    .tab__img_watches {
        background-image: url(../img/watches.png);
        width: 90%;
        height: 270px;
    }
    
    .tab__img_phones {
        background-image: url(../img/phones.png);
        height: 367px;
        margin-bottom: 42px;
        background-position: left;
        left: 16px;
    }
    
    .tab__img_tablets {
        background-image: url(../img/tablets.png);
        height: 425px;
        margin-top: 42px;
    }
    
}

/* POPULAR Section */
section.popular {
    padding-top: 103px;
    .popular__header {
        text-align: center;
    }
    .popular__desc {
        text-align: center;
        margin-bottom: 31px;
    }
    .items {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .item {
        width: 23%;
    }

    .item__img {
        width: 100%;
        height: 272px;
        padding: 28px;
        object-fit: contain;
        margin: 0 auto;
        display: block;
    }
    .item__header {
        margin-top: 8px;
    }
    .item__desc {
        font-size: 1rem;
        padding-right: 41px;
        margin: 9px 0 30px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .item__price {
        font-size: 1.285rem;
        position: absolute;
        bottom: 1px;
        left: 0px;
    }
}

/* BEST Section */
section.best {
    padding-top: 79px;
    .best__header {
        text-align: center;
    }
    .best__desc {
        font-family: $secondFont;
        text-align: center;
        margin-bottom: 58px;
    }
    .items {
        display: flex;
        justify-content: space-between;
    }
    .item {
        max-width: 33%;
        background-color: $aliceBlue;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 41px 29px 0;
        text-align: center;
    }

    .item__btn {
        margin: 30px auto;
        padding: 14px 63px;
    }
    .item__img {
        width: 355px;
        height: 250px;
        object-fit: contain;
    }
}

/* IDEAS Section */
section.ideas {
    padding-top: 79px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ideas__header {
        text-align: center;
    }
    .ideas__desc {
        text-align: center;
    }
    .info {
        display: flex;
        margin: 58px auto 72px;
    }
    .info__img {
        border-radius: 16px;
        width: 48%;
        max-width: 620px;
        aspect-ratio: 620/420;
        object-fit: cover;
    }
    .info__text {
        padding: 14px 35px;
    }
    .info__sentence {
        font-size: 24px;
        margin-bottom: 29px;
    }
    .ideas__all {
        text-align: center;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:after {
            content: " ";
            display: block;
            width: 28px;
            height: 26px;
            margin-left: 2px;
            background-image: url(../img/link.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

/* SEARCH Section */
section.search {
    padding-top: 80px;
    .search__header {
        text-align: center;
    }
    .search__bar {
        background: $aliceBlue;
        border: 1px solid $silver;
        border-radius: 100px;
        padding: 15px 17px 16px;
        max-width: 650px;
        margin: 23px auto 16px;
        display: flex;
        align-items: center;
    }
    .search__btn {
        width: 30px;
        height: 29px;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-size: contain;
        outline: none;
        border: none;
        background-color: transparent;
    }
    .search__input {
        margin-left: 20px;
        width: 100%;
        font-size: 1rem;
        font-family: inherit;
        background-color: transparent;
        outline: none;
        border: none;
    }
    .search__suggestions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 7px;
        max-width: 640px;
        margin: 0 auto;
    }
    .search__suggest {
        padding: 12px 22px 13px;
        background: transparent;
        border: 1px solid $silver;
        border-radius: 200px;
        font-size: 1rem;
        color: $mainBlack;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

/* MAIL Section */
section.mail {
    padding-top: 67px;
    .mail__header {
        text-align: center;
    }
    .mail__desc {
        text-align: center;
        font-size: 16px;
        margin-top: 9px;
    }
    .mail__img {
        width: 233px;
        height: 200px;
        object-fit: contain;
        margin: 14.5px auto 13.5px;
        display: block;
    }
    .banner {
        max-width: 935px;
        margin: 0 auto;
        background-color: $accent;
        border-radius: 16px;
        padding: 47px 40px 43px;
    }
    .mail__bar {
        width: 400px;
        height: 50px;
        margin: 0 auto;
        border-radius: 54px;
        border: 1px solid $mainBlack;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
    .mail__input {
        width: 100%;
        padding: 16px 33px 17px 32px;
        background-color: transparent;
        font-family: inherit;
        outline: none;
        border: none;
        font-size: 1rem;
    }
    .mail__btn{
        background-color: $mainBlack;
        color: $mainWhite;
        white-space: nowrap;
        padding: 16px 33px 17px 32px;
        max-height: 100%;
        outline: none;
        border: none;
        font-size: 1rem;
        &:hover{
            opacity: 0.7;
        }
    }
}

/* FOOTER Section */
footer.footer {
    margin-top: 24px;
    border-top: 1px solid $accent;
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 49px 0 82px;
    }

    .about {
        width: 304px;
        top: 11px;  
    }
    .about__logo {
        width: 181px;
        height: 22px;
    }
    .about__desc {
        margin-top: 14px;
        font-size: 16px;
    }

    .list__header {
        margin-bottom: 20px;
    }
    .list__item {
        font-size: 17px;
        &:not(:first-child) {
            margin-top: 15px;
        }
    }

    hr {
        border: none;
        border-top: 1px solid $accent;
    }

    .credentials {
        padding-top: 53px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
    }
    .credit {display: flex;}
    .credit__label {
        font-family: $secondFont;
        white-space: nowrap;
    }
    .credit__link {
        margin-left: 7px;
    }
}